In [2]:
import pandas as pd
from urllib.parse import urlparse
from src.loader import load_data
# Specify the path to the csv files
article_path = '../data/data.csv'
traffic_path = '../data/traffic.csv'
rating_path = '../data/rating.csv'

# Load the JSON file into a DataFrame
df = load_data(article_path)
rating_df = load_data(rating_path)
traffic_df = load_data(traffic_path)
df['Domain'] = df['url'].apply(lambda x: urlparse(x).netloc)
# Display the DataFrame
merged_df = pd.merge(df, traffic_df, left_on='Domain', right_on='Domain', how='left')
# Group by 'source_name' and sum the traffic metrics (e.g., 'RefIPs')
most_visited_news_sites = merged_df.groupby('source_name')['RefIPs'].sum().sort_values(ascending=False)
# Convert the Series to a DataFrame
most_visited_news_sites_df = most_visited_news_sites.reset_index()
# Rename the columns for clarity
most_visited_news_sites_df.columns = ['source_name', 'RefIPs']
# Print the top 10 news sites with the highest traffic
print(most_visited_news_sites_df.head(10))

          source_name       RefIPs
0  The Times of India  135680860.0

In [35]:
# Sentiment

# Group data by 'source_name' and 'title_sentiment'
grouped_data = rating_df.groupby(['source_name', 'title_sentiment']).size()

# Calculate mean for each
mean_statistics = grouped_data.groupby(['source_name', 'title_sentiment']).mean()

# Get the top 10 websites with mean for positive
top_positive_websites = mean_statistics.loc[(slice(None), 'Positive')].nlargest(10)

# Get the top 10 websites with mean for neutral
top_neutral_websites = mean_statistics.loc[(slice(None), 'Neutral')].nlargest(10)

# Get the top 10 websites with mean for negative
top_negative_websites = mean_statistics.loc[(slice(None), 'Negative')].nlargest(10)

# Print the top 10 websites based on mean for positive
print("Top 10 Mean for Positive")
print(top_positive_websites)
print()

# Print the top 10 websites based on mean for neutral sentiment
print("Top 10 Mean for Neutral")
print(top_neutral_websites)
print()

# Print the top 10 websites based on mean for negative sentiment
print("Top 10 Mean Negative")
print(top_negative_websites)

Top 10 Mean for Positive
source_name
The Times of India    1145.0
ETF Daily News         992.0
GlobeNewswire          905.0
Forbes                 635.0
Digital Trends         406.0
Android Central        272.0
Business Insider       237.0
Boing Boing            170.0
Marketscreener.com     153.0
Phys.Org               143.0
dtype: float64

Top 10 Mean for Neutral
source_name
ETF Daily News        15194.0
The Times of India     5149.0
GlobeNewswire          4491.0
Globalsecurity.org     2255.0
Forbes                 1933.0
The Punch              1229.0
ABC News               1193.0
BBC News               1185.0
Marketscreener.com     1167.0
Al Jazeera English      927.0
dtype: float64

Top 10 Mean Negative
source_name
The Times of India              1210.0
Business Insider                 890.0
BBC News                         854.0
Globalsecurity.org               747.0
ABC News                         726.0
Al Jazeera English               706.0
ETF Daily News                   560.0
The Punch                        455.0
RT                               403.0
International Business Times     319.0
dtype: float64

In [26]:
print(traffic_df.columns)

Index(['GlobalRank', 'TldRank', 'Domain', 'TLD', 'RefSubNets', 'RefIPs',
       'IDN_Domain', 'IDN_TLD', 'PrevGlobalRank', 'PrevTldRank',
       'PrevRefSubNets', 'PrevRefIPs'],
      dtype='object')

In [6]:
column = df.columns
column

Index(['article_id', 'source_id', 'source_name', 'author', 'title',
       'description', 'url', 'url_to_image', 'published_at', 'content',
       'category', 'full_content'],
      dtype='object')

In [14]:
top_10_websites = df['source_name'].value_counts().head(10)
print(top_10_websites)

source_name
ETF Daily News        16631
The Times of India     7629
GlobeNewswire          5485
Forbes                 4423
Biztoc.com             3968
BBC News               3342
Globalsecurity.org     3093
Business Insider       2746
ABC News               2188
Marketscreener.com     1948
Name: count, dtype: int64

In [15]:
least_10_websites = df['source_name'].value_counts(ascending=True).head(10)
print(least_10_websites)

source_name
Omnigroup.com            1
Fresno Bee               1
Cs.ru.nl                 1
Labnol.org               1
Theedgemalaysia.com      1
Schwab.com               1
Amd.com                  1
Bubbyandbean.com         1
Thriftydecorchick.com    1
Phpclasses.org           1
Name: count, dtype: int64

In [9]:
top = df.head

<bound method NDFrame.head of         article_id source_id                   source_name  \
0            89541       NaN  International Business Times
1            89542       NaN                    Prtimes.jp
2            89543       NaN                      VOA News
3            89545       NaN            The Indian Express
4            89547       NaN           The Times of Israel
...            ...       ...                           ...
105370      781108       NaN            The Indian Express
105371      781129       NaN                        Forbes
105372      781235       NaN                           NPR
105373      781240       NaN                        Forbes
105374      781308       NaN                        Forbes

                                                   author  \
0                                          Paavan MATHEMA
1                                                     NaN
2              webdesk@voanews.com (Agence France-Presse)
3                                               Editorial
4                                             Jacob Magid
...                                                   ...
105370                                                PTI
105371  Tom Sanderson, Senior Contributor, \n Tom Sand...
105372                                    Brigid McCarthy
105373  Gary Stern, Contributor, \n Gary Stern, Contri...
105374  Johan Hajji, Forbes Councils Member, \n Johan ...

                                                    title  \
0       UN Chief Urges World To 'Stop The Madness' Of ...
1                   RANDEBOOよりワンランク上の大人っぽさが漂うニットとベストが新登場。
2       UN Chief Urges World to 'Stop the Madness' of ...
3       Sikkim warning: Hydroelectricity push must be ...
4       200 foreigners, dual nationals cut down in Ham...
...                                                   ...
105370  Have done no wrong, only did party work, says ...
105371  FC Barcelona Guarantees $77.6 Million Champion...
105372  Three hospitals ignored her gravely ill fiancé...
105373  Kerber’s Farm: Bringing Farm To Table To Manha...
105374  Tips For Investing In Short-Term Rentals In Dubai

                                              description  \
0       UN Secretary-General Antonio Guterres urged th...
1       [株式会社Ainer]\nRANDEBOO（ランデブー）では2023年7月18日(火)より公...
2       UN Secretary-General Antonio Guterres urged th...
3       Ecologists caution against the adverse effects...
4       France lost 35 citizens, Thailand 33, US 31, U...
...                                                   ...
105370  The High Court today allowed Shivakumar to wit...
105371  FC Barcelona have guaranteed at least $77.6 mi...
105372  Forty years ago, Sarah Lubarsky came home from...
105373  A farmstand in Long Island, Kerber’s Farms has...
105374  By exploring your options and keeping a few be...

                                                      url  \
0       https://www.ibtimes.com/un-chief-urges-world-s...
1       https://prtimes.jp/main/html/rd/p/000000147.00...
2       https://www.voanews.com/a/un-chief-urges-world...
3       https://indianexpress.com/article/opinion/edit...
4       https://www.timesofisrael.com/200-foreigners-d...
...                                                   ...
105370  https://indianexpress.com/article/cities/banga...
105371  https://www.forbes.com/sites/tomsanderson/2023...
105372  https://www.npr.org/2023/11/29/1215016001/heal...
105373  https://www.forbes.com/sites/garystern/2023/11...
105374  https://www.forbes.com/sites/forbesbusinesscou...

                                             url_to_image  \
0       https://d.ibtimes.com/en/full/4496078/nepals-g...
1       https://prtimes.jp/i/32220/147/ogp/d32220-147-...
2       https://gdb.voanews.com/01000000-0a00-0242-60f...
3       https://images.indianexpress.com/2023/10/edit-...
4       https://static.timesofisrael.com/www/uploads/2...
...                                                   ...
105370  https://images.indianexpress.com/2023/11/DK-Sh...
105371  https://imageio.forbes.com/specials-images/ima...
105372  https://media.npr.org/assets/img/2023/11/23/sa...
105373  https://imageio.forbes.com/specials-images/ima...
105374  https://imageio.forbes.com/specials-images/ima...

                      published_at  \
0       2023-10-30 10:12:35.000000
1       2023-10-06 04:40:02.000000
2       2023-10-30 10:53:30.000000
3       2023-10-06 01:20:24.000000
4       2023-10-27 01:08:34.000000
...                            ...
105370         2023-11-29 10:57:22
105371         2023-11-29 08:41:18
105372         2023-11-29 10:01:12
105373         2023-11-29 13:44:33
105374         2023-11-29 14:00:00

                                                  content category  \
0       UN Secretary-General Antonio Guterres urged th...    Nepal
1       RANDEBOO2023718()WEB2023 Autumn Winter \n"Nepa...    Nepal
2       Kathmandu, Nepal  UN Secretary-General Antonio...    Nepal
3       At least 14 persons lost their lives and more ...    Nepal
4       Scores of foreign citizens were killed, taken ...    Nepal
...                                                   ...      ...
105370  Karnataka Deputy Chief Minister D K Shivakumar...     Home
105371  FC Barcelona have guaranteed at least $767.6 m...     Home
105372  The photo from David and Sarah Lubarsky's wedd...     Home
105373  Kerbers Farm: Bringing Farm To Table To Manhat...     Home
105374  Cofounder at UpperKey. Passionate about proper...     Home

                                             full_content
0       UN Secretary-General Antonio Guterres urged th...
1                                                     NaN
2                                                     NaN
3       At least 14 persons lost their lives and more ...
4                                                     NaN
...                                                   ...
105370  Karnataka Deputy Chief Minister D K Shivakumar...
105371  FC Barcelona have guaranteed at least $767.6 m...
105372  The photo from David and Sarah Lubarsky's wedd...
105373  Kerber’s Farm: Bringing Farm To Table To Manha...
105374  Cofounder at UpperKey. Passionate about proper...

[105375 rows x 12 columns]>

In [18]:
traffic_df

,GlobalRank,TldRank,Domain,TLD,RefSubNets,RefIPs,IDN_Domain,IDN_TLD,PrevGlobalRank,PrevTldRank,PrevRefSubNets,PrevRefIPs
0,1,1,google.com,com,471274,2151358,google.com,com,1,1,471248,2147402
1,2,2,facebook.com,com,465424,2250631,facebook.com,com,2,2,465297,2247135
2,3,3,youtube.com,com,420579,1852995,youtube.com,com,3,3,420483,1848940
3,4,4,twitter.com,com,404985,1757127,twitter.com,com,4,4,404998,1753939
4,5,5,instagram.com,com,364746,1598085,instagram.com,com,5,5,364618,1594892
...,...,...,...,...,...,...,...,...,...,...,...,...
999995,999996,485324,kireie.com,com,222,280,kireie.com,com,-1,-1,-1,-1
999996,999997,485325,mt-lock.com,com,222,280,mt-lock.com,com,952633,461429,232,284
999997,999998,485326,pinkwater.com,com,222,280,pinkwater.com,com,-1,-1,-1,-1
999998,999999,485327,soderhomes.com,com,222,280,soderhomes.com,com,-1,-1,-1,-1
999999,1000000,485328,toyotamusicfactory.com,com,222,280,toyotamusicfactory.com,com,973201,471949,228,284

In [19]:
traffic_column = traffic_df.columns
traffic_column

Index(['GlobalRank', 'TldRank', 'Domain', 'TLD', 'RefSubNets', 'RefIPs',
       'IDN_Domain', 'IDN_TLD', 'PrevGlobalRank', 'PrevTldRank',
       'PrevRefSubNets', 'PrevRefIPs'],
      dtype='object')

In [20]:
df_sorted_by_unique_visitors = traffic_df.sort_values(by='RefIPs', ascending=False)

# Print the website with the highest number of unique visitors
print(df_sorted_by_unique_visitors[['Domain', 'RefIPs']].head(10))

                  Domain   RefIPs
1           facebook.com  2250631
0             google.com  2151358
2            youtube.com  1852995
3            twitter.com  1757127
4          instagram.com  1598085
5           linkedin.com  1319082
8   googletagmanager.com   863843
10         wordpress.org   835948
9          wikipedia.org   831384
6              apple.com   804726